html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: url('/assets/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.main {
  margin-top: 340px;
  padding: 160px;
}
